.ch2.html.container {
    position: relative;
    border: 1px solid blue;
    width: 80%;
    left: 10%;
    height: 40%;
}

.ch2.html.container div {
    position: absolute;
    height: 60%;
    width: 20%;
    top:20%;
    border: 1px solid orange;
}

.ch2.html.container div:nth-child(1) {
    left: 10%;
}

.ch2.html.container div:nth-child(2) {
    left: calc(30% + 10%);
}

.ch2.html.container div:nth-child(3) {
    left: calc(60% + 10%);
}

.ch2.html.container#css div:nth-child(1) {
    height:20%;
    width:5%;
    border: 1px solid blue;
    border-radius: 50%;
}

.ch2.html.container#css div:nth-child(2) {
    left: calc(30% + 10%);
}

.ch2.html.container#css div:nth-child(3) {
    top: 30%;
    height:20%;
    width:5%;
    border: 1px solid red;
    border-radius: 50%;
}

:root{
    --key-L-left: 10%;
    --key-L-center-left: calc(40% + 10% - 5% - 1px);
    --key-L-top1: 20%;
    --key-L-top2: 40%;
    --key-L-center-top:calc(20% + 30% - 10%);

    --key-R-left: calc(var(--key-L-left) + 60%);
    --key-R-center-left: calc(40% + 10% + 1px);
    --key-R-top1: 40%;
    --key-R-top2: 20%;
    --key-R-center-top:calc(20% + 30% - 10%);
};

@keyframes hit_center_left {
    100% {}
    85% {left: calc(40% + 10% - 5% - 1px); top: calc(20% + 30% - 5%);}
    50% {left: calc(40% + 10% - 5% - 1px); top: calc(20% + 30% - 10%);}
    45%{left: 10%;}
    0% {}
}
@keyframes hit_center_right {
    100% {}
    85% {left: calc(40% + 10% + 1px); top: calc(20% + 30% - 7%);}
    50% {left: calc(40% + 10% + 1px); top: calc(20% + 30% - 10%);}
    45%{left: calc(60% + 10%);}
    0% {}
}

@keyframes double_center_left {
    100%{}
    75%{left: var(--key-L-center-left);top: var(--key-L-center-top);}
    50%{top: var(--key-L-top2); left: var(--key-L-left);}
    25%{left: var(--key-L-center-left);top: var(--key-L-center-top);}
    0%{}
}

@keyframes double_center_right {
    100%{}
    75%{left: var(--key-R-center-left);top: var(--key-R-center-top);}
    50%{top: var(--key-R-top2); left: var(--key-R-left);}
    25%{left: var(--key-R-center-left);top: var(--key-R-center-top);}
    0%{}
}

@keyframes transparency {
    0%  {opacity: 1;}
    24% {opacity: 1;}
    25% {opacity: .1;}
    50% {opacity: 1;}
    74% {opacity: 1;}
    75% {opacity: .1;}
    100%{opacity: 1;}
}

.ch2.html.container#css div:nth-child(1) {
    animation: double_center_left 5s ease-in-out infinite;
}
.ch2.html.container#css div:nth-child(3) {
    animation: double_center_right 5s ease-in-out infinite;
}
.ch2.html.container#css div:nth-child(2){
    animation: transparency 5s ease-in-out infinite;
}

.ch2.html.container#js:hover {
    cursor: pointer;
    opacity: .6;
}

.ch2.html.container#js span {
    position: relative;
    top: 35%;
}