body {
    color: white;
}

:root {
    --left-size: 70%;
    --intro-height: 25%;

    --ch1-intro-start: 10%;
    --ch1-intro-height: var(--intro-height);

    --instruct-height: 100%;
    --instruct-width: 100%;

    --2-start: calc(var(--ch1-intro-start) + var(--ch1-intro-height));
    --2-height: var(--instruct-height);

    --3-start: calc(var(--2-start) + var(--2-height));
    --3-height: var(--instruct-height);

    --4-start: calc(var(--3-start) + var(--3-height));
    --4-height: var(--instruct-height);

    --5-start: calc(var(--4-start) + var(--4-height));
    --5-height: var(--instruct-height);

    --6-start: calc(var(--5-start) + var(--5-height));
    --6-height: var(--instruct-height);

    --ch2-intro-start: calc(var(--6-start) + var(--6-height));
    --ch2-intro-height:80%;

    --7-start: calc(var(--ch2-intro-start) + calc(var(--ch2-intro-height)) + 10%);
    --7-height: var(--instruct-height);

    --8-start: calc(var(--7-start) + calc(var(--7-height)) + 10%);
    --8-height: var(--instruct-height);

    --9-start: calc(var(--8-start) + var(--8-height));
    --9-height: var(--instruct-height);

    --10-start: calc(var(--9-start) + var(--9-height));
    --10-height: var(--instruct-height);

}

.intro, .instruction {width:100%;}

.intro {
    position:absolute;
    /*border: 1px solid red;*/
}

.intro .gif {
    position: absolute;
}

.intro .gif img {
    position: absolute;
}

main {
    border-top: 1px dotted gold;
    border-bottom: 1px dotted gold;
}

section#left-section {
    position: absolute;
    left: 0;
    width: var(--left-size);
    height:100%;
    /*border: 1px solid gold;*/
    overflow-y:scroll;
    overflow-x: show;
}

section#right-section {
    position: absolute;
    left: var(--left-size);
    width: 30%;
    height:100%;
    /*border: 1px solid blue;*/
}

section#right-section * {
    position: absolute;
}

.instruction {
    position: absolute;
    height: var(--instruct-height);
    width: var(--instruct-width);
    /*border: 1px solid gold;*/
}

.instruction-stage {
    position: absolute;
    height: 90%;
    width: 90%;
    top: 5%; 
    left: 5%;
    /*border: 1px dotted green;*/
}

.instruction-text {
    padding-top: 5%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    position: absolute;
    top: 18%;
    height: 50%;
    width:40%;
    left:30%;
    border: 1px solid crimson;
    border-radius: 2%;
    word-wrap: normal;
    text-align: center;
    overflow-y: scroll;
}

.instruction-text a {color: gold; text-decoration: none;}

#img-frame {
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    border: 1px solid gray;
    border-radius: 5%; 

    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
    opacity: .0;
    transition: opacity 800ms;
}

#img-frame.on {opacity: .9;}
#img-frame.off {opacity: 0;}



#img-frame img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;

}


/*  specifics  */

.ch1.intro {top: var(--ch1-intro-start); height: var(--ch1-intro-height);}
.ch2.intro {top: var(--ch2-intro-start); height: var(--ch2-intro-height);}

.ch1.intro .gif {
    height: 100%;
    width: 17%;
    left:  calc(50% - 17% / 2);
    border-bottom: 1px dotted lightgray;
}

.ch1.intro .gif img {
    top: 10%;
    height: 100%;
    width: 100%;
}

.ch2.intro .gif {
    position: absolute;
    height: 90%;
    width: 100%;
    left: 0%;
    border-top: 5px dotted lightgray;
    border-bottom: 5px dotted lightgray;
    padding-top: 5%;
    padding-bottom: 5%;
    /*border: 2px solid blue;*/
    text-align: center;
}

.ch2.intro .gif img {
    position: relative;
    min-height: 50%;
    max-height: 70%;
    max-width: 100%;
    border-radius: 10px;
}

.num2 {top: var(--2-start);}
.num3 {top: var(--3-start);}
.num4 {top: var(--4-start);}
.num5 {top: var(--5-start);}
.num6 {top: var(--6-start);}

.num7 {top: var(--7-start);}
.num8 {top: var(--8-start);}
.num9 {top: var(--9-start);}
.num9 .instruction-text {text-align: left;}

.num10 {top: var(--10-start);}