
main {
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
}

#lessons, #backlight {
    grid-column: 2/6;
    grid-row: 1/2;
    
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20%;
    padding: 2%;

    overflow-y: scroll;
}


#backlight {
    /*background: white;*/
    opacity: .1;
    border-radius: 2%;
}

.lesson {
    max-height: 195px;
    max-width: 275px;
    border-radius: 2%;
    box-sizing: border-box;
}

.lesson:hover {
    opacity: .76;
}

.lesson img {
    max-height: 195px;
    border-radius: inherit;
}




.logo, .select, .desc {
    /*position: fixed;*/
}